<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>



<!-- 사용자단에서 신고된 댓글 전체 조회 -->
<!-- @Author seong 5/30 -->

<entry key="adminSelectReplyList">

  SELECT * 
  FROM (
         SELECT ROWNUM RNUM, A.*
         FROM
                (SELECT 
            
                    USER_ID
                    ,REPLY_NO
                    ,REPORT_CONTENT
                    ,RECIPE_TITLE
                    ,REPLY_CONTENT
                    ,R.ENROLL_DATE 
                    ,REPORT_STATUS
                        
                    FROM REPLY R
                    JOIN MEMBER USING(USER_NO)
                    JOIN REPORT USING(USER_NO)
                    JOIN RECIPE USING(RECIPE_NO)
                    WHERE REPORT_STATUS = 'Y' AND DELETE_STATUS = 'N'
                    ORDER BY ENROLL_DATE DESC
                
                )A
        
        )
        
    WHERE RNUM BETWEEN ? AND ?
        
</entry>


<!-- 관리자 단에서 댓글 삭제하는 기능 -->
<!-- @author seong 5/29  -->

<entry key="adminDeleteReply">
	
	UPDATE 
		REPLY
	SET 
		DELETE_STATUS = 'Y'
	WHERE 
		REPLY_NO = ?

</entry>


<!-- 전체 댓글 갯수  조회-->
<!-- @author seong 5/29  -->

<entry key="selectReplyListCount">
	SELECT COUNT(*) COUNT
	FROM REPLY
	WHERE DELETE_STATUS = 'N'
</entry>




</properties>



	