<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

<!--YunHeeRak 05.27 -->

<entry key="selectUnsolvedListCount">
	SELECT COUNT(*)
	  FROM INQUIRY
	 WHERE ANSWER_DATE IS NULL
</entry>

<entry key="selectSolvedListCount">
	SELECT COUNT(*)
	  FROM INQUIRY
	 WHERE ANSWER_DATE IS NOT NULL
</entry>

<entry key="selectUnSolvedList">
	SELECT *
	  FROM (
	          SELECT ROWNUM RNUM , A.*
	          FROM (SELECT 
	                       INQRY_NO
	                     , USER_ID
	                     , INQRY_TITLE
	                     , INQRY_CONTENT
	                     , I.MODIFY_DATE
	                  FROM INQUIRY I 
	                  JOIN MEMBER USING(USER_NO)
	                 WHERE ANSWER_DATE IS NULL
	                 ORDER
	                    BY I.MODIFY_DATE ASC) A)
	 WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectSolvedList">
	SELECT *
  FROM (
          SELECT ROWNUM RNUM , A.*
          FROM (SELECT 
                       INQRY_NO
                     , USER_ID
                     , INQRY_TITLE
                     , INQRY_CONTENT
                     , I.MODIFY_DATE
                     , ANSWER_DATE
                     , INQRY_ANSWER
                  FROM INQUIRY I 
                  JOIN MEMBER USING(USER_NO)
                 WHERE ANSWER_DATE IS NOT NULL
                 ORDER
                    BY ANSWER_DATE DESC) A)
 WHERE RNUM BETWEEN ? AND ?
</entry>

</properties>