<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="seletNavMenuList">
		SELECT
		       MENU_NO
		     , MENU_NAME 
	         , MENU_ORDER
	      FROM NAV_MENU
	     ORDER
	        BY MENU_NO       
	</entry>

</properties>